body{
  background: linear-gradient(-90deg, #8a5af9, #eb139b);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logo{
  width: 120px;
}

#bgblob{
  position: fixed;
  z-index: -1;
  max-width: 100%;
}

h1{
  margin-left: 200px;
  margin-top: 150px;
  font-size: 100px;
}

h2{
  margin-left: 200px;
  font-size: 60px;
  font-weight: lighter;
}

.arrow{
  display: block;
  width: 150px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

h3{
  margin-top: 150px;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
}

h4{
  margin-top: -50px;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
}

.column{
  float: left;
  width: 32%;
  padding: 5px;
  text-align: center;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}


a{
  color: White;
  padding: 40px;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  text-decoration: none;
}

.createbtn{
  background: linear-gradient(-180deg, #f46095, #ee3090);
  width: 400px;
  height: 85px;
  margin-top: 100px;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.createbtn:hover{
  opacity: 0.6;
}

.recreatebtn{
  background: linear-gradient(-180deg, #f46095, #ee3090);
  width: 500px;
  height: 85px;
  margin-top: 100px;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.recreatebtn:hover{
  opacity: 0.6;
}
