body{
  /* background: linear-gradient(-90deg, #8a5af9, #eb139b); */
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

#logo{
  width: 120px;
  position: fixed;
}

#bgblob{
  position: fixed;
  z-index: -1;
  max-width: 100%;
}

/* h1{
  text-align: center;
  font-size: 100px;
}

h2{
  text-align: center;
  font-size: 60px;
  font-weight: lighter;
} */

.arrow{
  display: block;
  width: 150px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

h3{
  font-size: 60px;
  font-weight: 500;
  color: white;
}

h4{
  font-size: 30px;
  font-weight: lighter;
}

.createbtn{
  font-size: 60px;
  font-weight: 500;
  background: linear-gradient(-180deg, #f46095, #ee3090);
  width: 400px;
  height: 85px;
  margin-top: 100px;
  border-radius: 35px;
  margin-bottom: 100px;
  color: white;
}

.createbtn:hover{
  opacity: 0.9;
}

.recreatebtn{
  font-size: 60px;
  font-weight: 500;
  background: linear-gradient(-180deg, #f46095, #ee3090);
  width: 400px;
  height: 85px;
  margin-top: 100px;
  border-radius: 35px;
  margin-bottom: 100px;
  color: white;
  text-decoration: none;
}

.recreatebtn:hover{
  opacity: 0.9;
  text-decoration: none;
}
