<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title>lista</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='../static/img/listafavi.png') }}"/>
  </head>
  <body>
    <a href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='../static/img/listalogo.png') }}" alt="logo" id="logo">
    </a>
    <img src="{{ url_for('static', filename='../static/img/listabg.png') }}" alt="background image" id="bgblob">
    <h3> Today's lista: </h3>
    <br><br>
    <h4> Based on your answers </h4>
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">SONG</th>
            <th scope="col">ARTIST</th>
            <th scope="col">ALBUM</th>
          </tr>
          <br>
        </thead>
        {% for list in playlist %}
          <tr>
            <td><img src="../static/img/play.png" width="25px"></td>
            <td scope="col">{{ list[1] }}</td>
            <td scope="col">{{ list[2] }}</td>
            <td scope="col">{{ list[3] }}</td>
          </tr>
        {% endfor %}
      </table>
      <div class="recreatebtn">
        <a href="{{ url_for('index') }}">Create another</a>
      </div>
    </div>
  </body>
  </body>
</html>
