<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title>lista</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='img/listafavi.png') }}"/>
  </head>
  <body>
    <a href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='img/listalogo.png') }}" alt="logo" id="logo">
    </a>
    <img src="{{ url_for('static', filename='img/listabg.png') }}" alt="background image" id="bgblob">
    <div class="container">
      <h1> What are we <br> feeling? </h1>
      <h2> Create today's playlist with lista </h2>
      <br>

      <img src="{{ url_for('static', filename='img/arrow.png') }}" alt="arrow pointing down" class="arrow">


      <form method="post" action="/createdlista">
        <h3> Which genre will you listen to today? </h3>
        <br><br>
        <h4> Pick one genre </h4>
        <div class="genres">
          <div class="row">
            <div class="column">
              <img src="{{ url_for('static', filename='img/grime.png') }}" alt="grime" style="width:100%">
              <input type="radio" name="genre1" value="Grime">
            </div>
            <div class="column">
              <img src="{{ url_for('static', filename='img/rap.png') }}" alt="rap" style="width:100%">
              <input type="radio" name="genre2" value="Rap">
            </div>
            <div class="column">
              <img src="{{ url_for('static', filename='img/rnb.png') }}" alt="r&b" style="width:100%">
              <input type="radio" name="genre3" value="RNB">
            </div>
          </div>
        </div>

        <h3> Which Kanye are you today? </h3>
        <br><br>
        <h4> Pick one mood </h4>
        <div class="whichye">
          <div class="row">
            <div class="column">
              <img src="{{ url_for('static', filename='img/coolye.png') }}" alt="aggressive" style="width:100%">
              <input type="radio" name="mood1" value="aggressive">
            </div>
            <div class="column">
              <img src="{{ url_for('static', filename='img/happyye.png') }}" alt="happy" style="width:100%">
              <input type="radio" name="mood2" value="Happy">
            </div>
            <div class="column">
              <img src="{{ url_for('static', filename='img/sadye.png') }}" alt="sad" style="width:100%">
              <input type="radio" name="mood1" value="Sad">
            </div>
          </div>
        </div>

        <h3> Choose a color that you're vibing </h3>
        <br><br>
        <h4> Pick one colour </h4>
        <div class="colors">
          <div class="row">
            <div class="column">
              <img src="{{ url_for('static', filename='img/red.png') }}" alt="red" style="width:100%">
              <input type="radio" name="color1" value="Red">
            </div>
            <div class="column">
              <img src="{{ url_for('static', filename='img/black.png') }}" alt="black" style="width:100%">
              <input type="radio" name="color2" value="Black">
            </div>
            <div class="column">
              <img src="{{ url_for('static', filename='img/blue.png') }}" alt="blue" style="width:100%">
              <input type="radio" name="color3" value="Blue">
            </div>
            <div class="column">
              <img src="{{ url_for('static', filename='img/yellow.png') }}" alt="yellow" style="width:100%">
              <input type="radio" name="color4" value="Yellow">
            </div>
            <div class="column">
              <img src="{{ url_for('static', filename='img/white.png') }}" alt="white" style="width:100%">
              <input type="radio" name="color5" value="White">
            </div>
          </div>

          <input type="submit" value="create lista" class="createbtn">


      </form>
    </div>
  </body>
  </body>
</html>
